@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');

* {
  font-family: 'Aref Ruqaa';
  background-color: #0E1226;
  color: #A68555;
}

header {
  display: flex;
  align-items: center;
  font-size: 2em;
}

.logo {
  width: 10%;
  margin-left: 3vw;
  margin-top: 3vh;
}

h1 {
  margin-left: 1vw;
}
